@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    color: black;
}

section{
    min-height: 100wh;
    padding: 10rem 9% 2rem;
    text-decoration: none;
}

span{
    color: #B99470;
}
header {
    background-color: rgb(0, 0, 0);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 2rem 9%;
    width: 100%;
}

.name h2{
    font-size: 4vw;
    text-align: center;
}
.logo {
    font-size: 3rem;
    color: #B99470;
    font-weight: 600;
    cursor: default;
    text-decoration: none;
    text-transform: uppercase;
}

.logo img{
    width: 10rem;
    z-index: 101;
}

.navbar a{
    font-size: 2rem;
    color: #FEFAE0;
    margin-left: 2.5rem;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    color: #B99470;
}

.home{
   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   background-image: url("../img/coding\ gif.gif");
   background-repeat:no-repeat ;
   background-size: cover;
   background-attachment: fixed;
}

.home-section h1{
    color: #FEFAE0;
    font-weight: 600;
    font-size: 5rem;
}

.home-section .span1{
    color: #FEFAE0
}

.home-section h3{
    color: #FEFAE0;
    font-weight: 600;
    font-size: 3rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #5F6F52;
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: #FEFAE0;
    letter-spacing: .1rem;
    transition: .5s ease;
    margin-top: 10px;
}

.btn:hover{
    box-shadow: 0 0 1rem  #FEFAE0;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #B99470;
}

.about-img img{
    width: 20vw;
    border-radius: 20px;
    animation: floatImage 4s ease-in-out infinite;
}

    @keyframes floatImage{
        0%{
            transform: translateY(0);
        }

        50%{
            transform: translateY(1.4rem);
        }

        100%{
            transform: translateY(0);
        }
    }

.heading{
    justify-content:center;
    text-align: center;
    font-size: 4.5rem;
    color: #FEFAE0;
    margin-bottom: 2rem;
}
.about-content h3{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
    color: #FEFAE0;
}

.skills{
    background-color: #5F6F52;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: #B99470;
    width: 21.25rem;
    box-shadow: 0 5px 25px rgba(1 1 1 /50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
}

.icon{
    color: #FEFAE0;
    font-size: 8rem;
    text-align: center;
}

.info h3{
    color: #FEFAE0;
    font-size: 2rem;
    font-weight: 700;
    margin: 10px;
    text-decoration: none;
}

.info{
    text-align: center;
}

.info p{
    color: #FEFAE0;
    font-size: 1.5rem;
    text-decoration: none;
    text-align:center;
}

.info a{
    text-decoration: none;
    color: #FEFAE0;
}
.project {
    background-color: #B99470;
}

.project .content{
    margin-top: 30px;
}

.project-card{
    background-color: #FEFAE0;
    border: 1px solid #FEFAE0;
    min-height: 14rem;
    width: 50rem;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-image img{
    width: 100%;
}

.project-card:hover {
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.8;
}

.project-info{
    padding: 1rem;
}

.project-category {
    font-size: 0.8rem;
    color: #FEFAE0;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 10px ;
}

.project-details{
    display: flex;
    font-size: 12px;
    color:  #B99470;
}
.more-details {
    text-decoration: none;
    color: #5F6F52;
}

.contact{
    background-color: #5F6F52;
}

.footer{
    background-color: #000016;
    color: #FEFAE0;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3rem;
    font-weight: 600
}

.footer-title span{
    color: #B99470;
    cursor: default;
}

.footer-title span:hover{
    color: #5F6F52;
    cursor: default;
}

.footer .social-icons a{
    font-size: 1.3rem;
    padding: 0 12px 0 0;
}

.yt,
.tw,
.ig,
.gh {
    color: #FEFAE0;
}

.yt:hover{
    color: crimson;
}

.tw:hover{
    color: rgb(6, 255, 255);
}

.ig:hover{
    color: crimson;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

svg {
	font-family: "Bebas Neue", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 4s infinite alternate;
	stroke-width: 2;
	stroke: #3CE82F;
	font-size: 62px;
}
@keyframes stroke {
	0%   {
		fill: rgba(112,254,23,0); stroke: rgba(60,232,47,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(112,254,23,0); stroke: rgba(60,232,47,1); }
	80%  {fill: rgba(112,254,23,0); stroke: rgba(60,232,47,1); stroke-width: 3; }
	100% {
		fill: rgba(112,254,23,1); stroke: rgba(60,232,47,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #B99470};
